* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background: rgb(0,0,0);
    background: linear-gradient(207deg, rgba(0,0,0,1) 43%, rgba(9,60,121,1) 63%, rgba(34,193,195,1) 92%); */
    background: rgb(0,0,0);
    background: linear-gradient(207deg, rgba(0,0,0,1) 40%, rgba(24,61,61,1) 59%, rgba(92,131,116,1) 80%);
    height: 100vh;
}
:root {
    --orange: #E9B824;
    --white: #EEEDED;

}
h1{
    color: var(--white);
    text-align: center;
}
.btn 
{
    display: block;
    margin: 30px auto;
    width: 150px;
    height: 30px;
    text-align: center;
    border: none;
    font-weight: bolder;
    border-radius: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(63deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);    color: white;
}

section
{
    display: flex;
    margin: 0 15px;
}
.imgspace
{
    width: 80%;
    height: 50%;
    margin: auto;
}
.imgspace img
{
    width: 100%;
}
.score 
{
    width: 80%;
    margin-top:50px;
}
.score span
{
    text-align: center;
    font-size: 100px;
    color: white;
    display: block;
    margin: auto;
}
.gameboard 
{
    margin-top: 40px;
    width: 50%;
    margin: auto auto;
    display: grid;
    /* gap: 4px; */
    grid-template-columns: repeat(20,1fr);
    border: 2px solid rgb(0, 0, 0);
    padding: 0px;
    background-color:white;
    margin-bottom: 40px;
}
.item 
{
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid black;
   text-align: center;
   height: 20px;
   
    
}
.bgone
{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   color:white;
   border:none;
   font-weight: 400;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-color:#3085C3;
}

.bgtwo
{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   color:white;
   font-weight: 400;
   border:none;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-color:#D80032;
}
.leftside 
{
    width: 25%;
   ;

}
.rightside
{
    width: 25%;
   

}


